body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #f5f5f5;
}

.font-cormorant-garamond-regular {
    font-family: var(--font-cormorant-garamond);
    font-weight: 400;
}

.font-cormorant-garamond-bold {
    font-family: var(--font-cormorant-garamond);
    font-weight: 700;
}