.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    gap: 70px;
    height: 58vh;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.link {
    background-color: #33333396;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}